<div class="layui-layout layui-layout-admin" style="padding-left: 40px;margin-top: 20px;">
<form class="layui-form" action="" method="post">
    
    <div class="layui-form-item">
        <label class="layui-form-label">上级权限</label>
        <div class="layui-input-inline">
            <select name="pid" lay-filter="aihao">
                <option value=""></option>
                <option value="0">顶级权限</option>
                {{range $k, $v := .p_auth}}
                    <option value="{{$v.Id}}">{{$v.AuthName}}</option>
                {{end}}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">权限名称</label>
        <div class="layui-input-inline">
            <input type="text" name="auth_name" lay-verify="required" autocomplete="off" placeholder="请输入权限名称" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">菜单地址</label>
        <div class="layui-input-inline">
            <input type="text" name="auth_url" lay-verify="required" autocomplete="off" placeholder="/home" class="layui-input" value="/">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    
    <div class="layui-form-item">
        <label class="layui-form-label">图标字体</label>
        <div class="layui-input-inline">
            <input type="text" name="icon" autocomplete="off" placeholder="" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux"><a href="http://www.layui.com/doc/element/icon.html" target="_blank">点击这里参考</a></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-inline">
            <input type="text" name="sort" lay-verify="required" autocomplete="off" placeholder="999" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否显示</label>
        <div class="layui-input-inline">
            <input type="radio" name="is_show" value="1" title="显示">
            <input type="radio" name="is_show" value="0" title="隐藏" checked>
        </div>
        <div class="layui-form-mid layui-word-aux">是否左侧导航栏显示</div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</div>
<script>
var $;
    layui.config({
            base : "js/"
    }).use(['form','element','layer','jquery'],function(){
    // layui.use('form', function(){
      var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
      $ = layui.jquery;
      $("form").submit(function () {
        $("button[type='submit']").attr('disabled', true);
        $.post('{{urlfor "AuthController.Add"}}', $(this).serialize(), function (out) {
            if (out.status == 0) {
                layer.msg("操作成功",{icon: 1},function () {
                    window.location.reload()
                })
            } else {
                layer.msg(out.message)
                $("button[type='submit']").attr('disabled', false);
            }
        }, "json");
        return false;
    });
      //……
      
      //但是，如果你的HTML是动态生成的，自动渲染就会失效
      //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
      form.render();
}); 
</script>