<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <div class="layui-btn-group demoTable" style="margin-top: 10px; ">
        <a class="layui-btn" data-type="tabAdd" href="/auth/add">新增</a>   
    </div>               
    <table class="layui-table" lay-data="{width: 'full-10', height: 'full-105', url:'/auth/table', page:true, id:'idTest'}" lay-filter="demo">
        <thead>
            <tr>
                <th lay-data="{checkbox:true, fixed: true}"></th>
                <th lay-data="{field:'id', width:80, fixed: true}">ID</th>
                <th lay-data="{field:'auth_name', width:200}">权限名称</th>
                <th lay-data="{field:'p_name', width:150}">上级权限</th>
                <th lay-data="{field:'auth_url', width:150, sort: true}">菜单地址</th>
                <th lay-data="{field:'sort', width:100}">排序</th>
                <th lay-data="{field:'is_show', width:100}">是否显示</th>
                <th lay-data="{fixed: 'right', width:200, align:'center', toolbar: '#barDemo'}"></th>
            </tr>
        </thead>
    </table>

    <script type="text/html" id="barDemo">
       <!--  <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="detail">查看</a> -->
        <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
    </script>
</div>
<script>
    layui.use('table', function(){
        var table = layui.table;
        var element = layui.element;
    //监听表格复选框选择
    table.on('checkbox(demo)', function(obj){
        console.log(obj);
    });

    //监听工具条
    table.on('tool(demo)', function(obj){
        var data = obj.data;
        if(obj.event === 'detail'){
            layer.msg('ID：'+ data.id + ' 的查看操作');
        } else if(obj.event === 'del'){
            layer.confirm('真的删除行么', function(index){
            obj.del();
            layer.close(index);
        });
        } else if(obj.event === 'edit'){
            layer.alert('编辑行：<br>'+ JSON.stringify(data))
        }
    });

    var $ = layui.$, active = {
        getCheckData: function(){ //获取选中数据
            var checkStatus = table.checkStatus('idTest')
            ,data = checkStatus.data;
            layer.alert(JSON.stringify(data));
        }
        ,getCheckLength: function(){ //获取选中数目
            var checkStatus = table.checkStatus('idTest')
            ,data = checkStatus.data;
            layer.msg('选中了：'+ data.length + ' 个');
        }
        ,tabAdd:function(){

        }
        ,isAll: function(){ //验证是否全选
            var checkStatus = table.checkStatus('idTest');
            layer.msg(checkStatus.isAll ? '全选': '未全选')
            }
        };

    $('.demoTable .layui-btn').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
        });
    });
</script>