<div class="layui-layout layui-layout-admin" style="padding-left: 20px;">
    <div class="layui-btn-group demoTable" style="margin-top: 10px; ">
        <a class="layui-btn" data-type="tabAdd" href="/role/add">新增</a>   
    </div>               
    <table class="layui-table" lay-data="{width: 'full-10', height: 'full-105', url:'/role/table', page:true, id:'idTest'}" lay-filter="demo">
        <thead>
            <tr>
                
                <th lay-data="{field:'id', width:80, fixed: true}">ID</th>
                <th lay-data="{field:'role_name', width:300}">角色名称</th>
                <th lay-data="{field:'detail', width:450}">备注</th>
                <th lay-data="{fixed: 'right', width:200, align:'center', toolbar: '#barDemo'}"></th>
            </tr>
        </thead>
    </table>

    <script type="text/html" id="barDemo">
       <!--  <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="detail">查看</a> -->
        <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
    </script>
</div>
<script>
    layui.use('table', function(){
        var table = layui.table;
        var element = layui.element;
    //监听表格复选框选择
    table.on('checkbox(demo)', function(obj){
        console.log(obj);
    });

    //监听工具条
    table.on('tool(demo)', function(obj){
        var data = obj.data;
        if(obj.event === 'detail'){
            //layer.msg('ID：'+ data.id + ' 的查看操作');
        } else if(obj.event === 'del'){
            layer.confirm('真的删除【'+data.role_name+'】角色么', function(index){
            var jsData = {'id':data.id}
            $.post('{{urlfor "RoleController.AjaxDel"}}', jsData, function (out) {
                if (out.status == 0) {
                    layer.alert('删除成功了', {icon: 1},function(index){
                        layer.close(index);
                        window.location.reload();
                    });
                } else {
                    layer.msg(out.message)
                }
            }, "json");
            obj.del();
            layer.close(index);
        });
        } else if(obj.event === 'edit'){
            window.location.href="/role/edit?id="+data.id
        }
    });
});

</script>