<script src="/static/js/jquery.min.js?t=13"></script>
<script src="/static/editor.md/editormd.js" type="text/javascript"></script>
 <script src="/static/editor.md/lib/marked.min.js"></script>
 <script src="/static/editor.md/lib/prettify.min.js"></script>
 <script src="/static/editor.md/lib/raphael.min.js"></script>
 <script src="/static/editor.md/lib/underscore.min.js"></script>
 <script src="/static/editor.md/lib/sequence-diagram.min.js"></script>
 <script src="/static/editor.md/lib/flowchart.min.js"></script>
 <script src="/static/editor.md/lib/jquery.flowchart.min.js"></script>

<script type="text/javascript">
    
    
    $(function() {
        apiEditor = editormd("api-editormd", {
            width  : "90%",
            height : 720,
            path   : '/static/editor.md/lib/',
            onchange : function() {
                $("#output").html("onchange : this.id =>" + this.id + ", markdown =>" + this.getValue());
                console.log("onchange =>", this, this.id, this.settings, this.state);
            },
            toolbarIcons : function() {
                // Or return editormd.toolbarModes[name]; // full, simple, mini
                // Using "||" set icons align right.
                return ["undo", "redo", "|", 
                        "bold", "del", "italic", "quote", "|", 
                        "h1", "h2", "h3", "h4", "h5", "h6", "|", 
                        "list-ul", "list-ol", "hr", "|",
                        "link", "reference-link", "image", "code", "preformatted-text", "code-block", "table", "datetime", "emoji", "html-entities", "pagebreak", "|",
                        "goto-line", "watch", "preview", "fullscreen", "clear", "search", "|",
                        "help", "info"]
            },
        });

        
    });
</script>